*.pyc
.DS_Store

/temp/
/.project
/.pydevproject

# checkpoint
checkpoints/

# For PyCharm users
.idea/
.vscode/

logs/

# C++ stuff
*.pyd
*.obj
*.lib
*.html
*.exp
*.dll

*.tflite

*.log

boost_1_75_0/

*.examples
